.job-view {
    display: flex;
    flex-flow: column;
    text-align: center;
    min-width: 5em;

    & > img {
        margin-left: auto;
        margin-right: auto;
    }
}

.job-button {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);

    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
}

.study-view {
  display: flex;
  margin: 0.5em 0.5em 0.5em 0;
  width: 25%;
  border: 1px solid gray;
  background: lightgray;
  border-radius: 0.5em;

  & > img {
    margin: 0.5em auto;
  }
}

.button-clickable {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);

    &:active {
        transform: translate(0.05rem,0.05rem);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.add-build {
    display: flex;
    width: 4em;
    height: 4em;
    margin: 0 auto;
    background-color: rgba(194, 194, 194, 1);
    border-radius: 0.25rem;
    content: url("../lib/octicons/plus-small.svg");
    margin-bottom: 5em;

    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);

    &:active {
        transform: translate(0.05rem,0.05rem);
    }

    &:hover {
        background-color: rgb(114, 114, 114);
    }
}

.add-character {
    display: flex;
    width: 4em;
    height: 4em;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    content: url("../lib/octicons/plus-small.svg");

    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);

    &:active {
        transform: translate(0.05rem,0.05rem);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.add-skill {

    & > div {
        width: 2em;
        height: 2em;
        margin: 0 auto;
        
        cursor: pointer;

        border-radius: 0.25rem;
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        
        background-image: url("../lib/octicons/plus-small.svg");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: 1em;

        &:active {
            transform: translate(0.05rem,0.05rem);
        }
    
        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.add-job {
    display: flex;
    width: 3em;
    height: 3em;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    content: url("../lib/octicons/plus-small.svg");

    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);

    &:active {
        transform: translate(0.05rem,0.05rem);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.filter {
    display: flex;
    background-color: #f8f9fa;
    border: 1px solid lightgray;
    height: 3em;
}

/* The Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-weight: bold;
    }
    
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.study-table {
  width: min-content;
  display: grid;
  grid-template-rows: auto auto;
  background-color: lightgray;
  border-radius: 1px;

    & > .study-table-header {
        border-bottom: 1px solid gray;

        & > p {
            font-weight: 600;
        }
    }

    .study-table-row {
        display: grid;
        $column-width: calc(1/11* 100%);
        grid-template-columns: $column-width $column-width $column-width $column-width $column-width $column-width $column-width $column-width $column-width $column-width $column-width;

        & > img, div {
            margin: 0.125em;
            height: 1.5em;
            width: 1.5em;
        }
            
        & > img.study-picture {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            background-color: rgba(0, 0, 0, 0.2);
        }
  }
}