.study-view {
    display: flex;
    
}

.job-view {
    display: flex;
    flex-flow: column;
    text-align: center;
    min-width: 6em;
}

.button-clickable {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);

    &:active {
        transform: translate(0.05rem,0.05rem);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.add-skill {
    display: flex;
    width: 2em;
    height: 2em;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    content: url("../lib/octicons/plus-small.svg");

    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);

    &:active {
        transform: translate(0.05rem,0.05rem);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.add-job {
    display: flex;
    width: 3em;
    height: 3em;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    content: url("../lib/octicons/plus-small.svg");

    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);

    &:active {
        transform: translate(0.05rem,0.05rem);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}