.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      transform: translate(30%, 50%);
      border: 1px solid #888;
      width: 60%; /* Could be more or less, depending on screen size */
      display:grid;
      grid-template-columns: calc(40rem - 8px) auto; /* (Nb_tile * (10rem - 2px)) */
      padding: 1rem;

      .characters-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // padding-top: 2rem;
        // padding-bottom: 2rem;

        .tile {
          
          max-width: 5rem;
          max-height: 5rem;
          overflow: hidden;
          text-indent: -1rem;
          border: 1px solid rgba(0,0,0,0.2);
          margin-bottom: -1px;
          margin-right: -1px;

          & > img {
            max-width: 7rem;
            max-height: initial;
          }

          &:hover {
            cursor: pointer;
            transition: all 0.3s ease-out;
          }

          &:active {
              transform: translate(0.05rem,0.05rem);
          }
        }

        .avatar-tile:hover {
          background-color: rgba(78, 127, 148, 0.6);
        }

        .black-eagle-tile:hover {
            background-color: rgba(223, 115, 110, 0.6);
        }

        .blue-lyon-tile:hover {
            background-color: rgba(150, 190, 192, 0.6);
        }

        .golden-deer-tile:hover {
            background-color: rgba(238, 217, 153, 0.6);
        }

        .church-seiros-tile:hover {
            background-color: rgba(233, 228, 225, 0.6);
        }
      }

      .sidebar {

        border: 1px solid lightgray;
        background-color: #eee;
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;

        /* The Close Button */
        .close-modal {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
          margin: 0.5rem 0.5rem 0 0;
        }
        
        .close-modal:hover,
        .close-modal:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }

        .character-detail {
          margin: 1rem;

          .full-portrait-title {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            border-bottom: 1px solid rgba(0,0,0,0.4) !important;
            margin-bottom: 1.2em;

            & > img.character-picture {
              grid-row-start: 1;
              grid-row-end: 3;
              grid-column-start: 1;
              grid-column-end: 2;
            }

            & > img.banner-picture {
              grid-row-start: 1;
              grid-row-end: 2;
              grid-column-start: 2;
              grid-column-end: 3;
              

              height: auto;
              width: 3rem;
              justify-self: end;
              transform: translateY(172%);
            }

            & > div.title-text {
              grid-row-start: 2;
              grid-row-end: 3;
              grid-column-start: 2;
              grid-column-end: 3;
              font-size: 1.75rem;
              font-weight: 500;
              margin-top: auto;
              text-align: right;
            }
          }

          .detail-content {
            & > div {
              min-height: 4.5rem;
              max-width: 80%;
              margin: 0 0 1rem 0;
            }
            
            .detail-title {
              display: grid;
              grid-template-columns: 20% auto;
              margin: auto 0;
            }
  
            .detail-text {
              font-size: 12px;
            }
          }          
        }
      }
    }
  }