.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      transform: translate(12%, 12%);
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      display:grid;
      grid-template-columns: 70% 30%;

      .characters-grid {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        row-gap: 1rem;
        margin: 1rem 0 1rem 0;

        & > div {
          text-align: center;
        }
      }

      .character-detail {

        border: 1px solid lightgray;
        background-color: #eee;
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;

        /* The Close Button */
        .close-modal {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
          margin: 1rem 1rem 0 0;
        }
        
        .close-modal:hover,
        .close-modal:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }

        & > div {
          position: relative;
        }
      }
    }
  }