.job-view {
  display: flex;
  flex-flow: column;
  text-align: center;
  min-width: 5em; }
  .job-view > img {
    margin-left: auto;
    margin-right: auto; }

.job-button {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem; }

.study-view {
  display: flex;
  margin: 0.5em 0.5em 0.5em 0;
  width: 25%;
  border: 1px solid gray;
  background: lightgray;
  border-radius: 0.5em; }
  .study-view > img {
    margin: 0.5em auto; }

.button-clickable {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .button-clickable:active {
    transform: translate(0.05rem, 0.05rem); }
  .button-clickable:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.add-build {
  display: flex;
  width: 4em;
  height: 4em;
  margin: 0 auto;
  background-color: #c2c2c2;
  border-radius: 0.25rem;
  content: url("../lib/octicons/plus-small.svg");
  margin-bottom: 5em;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .add-build:active {
    transform: translate(0.05rem, 0.05rem); }
  .add-build:hover {
    background-color: #727272; }

.add-character {
  display: flex;
  width: 4em;
  height: 4em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  content: url("../lib/octicons/plus-small.svg");
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .add-character:active {
    transform: translate(0.05rem, 0.05rem); }
  .add-character:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.add-skill > div {
  width: 2em;
  height: 2em;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background-image: url("../lib/octicons/plus-small.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 1em; }
  .add-skill > div:active {
    transform: translate(0.05rem, 0.05rem); }
  .add-skill > div:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.add-job {
  display: flex;
  width: 3em;
  height: 3em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  content: url("../lib/octicons/plus-small.svg");
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .add-job:active {
    transform: translate(0.05rem, 0.05rem); }
  .add-job:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.filter {
  display: flex;
  background-color: #f8f9fa;
  border: 1px solid lightgray;
  height: 3em; }

/* The Close Button */
.close-button {
  color: #aaa;
  float: right;
  font-weight: bold; }

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.study-table {
  width: min-content;
  display: grid;
  grid-template-rows: auto auto;
  background-color: lightgray;
  border-radius: 1px; }
  .study-table > .study-table-header {
    border-bottom: 1px solid gray; }
    .study-table > .study-table-header > p {
      font-weight: 600; }
  .study-table .study-table-row {
    display: grid;
    grid-template-columns: calc(1/11* 100%) calc(1/11* 100%) calc(1/11* 100%) calc(1/11* 100%) calc(1/11* 100%) calc(1/11* 100%) calc(1/11* 100%) calc(1/11* 100%) calc(1/11* 100%) calc(1/11* 100%) calc(1/11* 100%); }
    .study-table .study-table-row > img, .study-table .study-table-row div {
      margin: 0.125em;
      height: 1.5em;
      width: 1.5em; }
    .study-table .study-table-row > img.study-picture {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      background-color: rgba(0, 0, 0, 0.2); }
