.modal-c {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  font-size: 1rem;
  /* Modal Content/Box */ }
  .modal-c .modal-content {
    display: grid;
    grid-template-columns: calc(8 * (5em - 1px)) auto;
    width: fit-content;
    width: -moz-fit-content;
    /* Firefox */
    width: -webkit-fit-content;
    /* Chrome */
    margin: auto;
    padding: 1em;
    transform: translateY(25vh);
    border: 1px solid #888;
    background-color: #fefefe; }
    .modal-c .modal-content .characters-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .modal-c .modal-content .characters-grid .tile {
        max-width: 5em;
        max-height: 5em;
        overflow: hidden;
        text-indent: -1em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: -1px;
        margin-right: -1px;
        position: relative; }
        .modal-c .modal-content .characters-grid .tile > img {
          max-width: 7em;
          max-height: initial; }
        .modal-c .modal-content .characters-grid .tile:hover:not(.locked-picture) {
          cursor: pointer;
          transition: all 0.3s ease-out; }
      .modal-c .modal-content .characters-grid .tile-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 0.5s ease; }
      .modal-c .modal-content .characters-grid .tile:hover .tile-overlay {
        opacity: 1;
        transform: scale(1.5); }
      .modal-c .modal-content .characters-grid .tile.locked-picture .tile-overlay {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%); }
      .modal-c .modal-content .characters-grid .avatar-tile {
        background: url("../img/crests/0.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-color: #4e7f94; }
      .modal-c .modal-content .characters-grid .black-eagle-tile {
        background: url("../img/banners/4.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-color: #df736e; }
      .modal-c .modal-content .characters-grid .blue-lyon-tile {
        background: url("../img/banners/5.png");
        background-size: 67%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-color: #96bec0; }
      .modal-c .modal-content .characters-grid .golden-deer-tile {
        background: url("../img/banners/6.png");
        background-size: 62%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-color: #eed999; }
      .modal-c .modal-content .characters-grid .church-seiros-tile {
        background: url("../img/banners/7.png");
        background-size: 78%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-color: #e9e4e1; }
    .modal-c .modal-content .sidebar {
      border: 1px solid lightgray;
      background-color: #eee;
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
      width: min-content;
      /* The Close Button */ }
      .modal-c .modal-content .sidebar .close-button {
        margin: 0.5rem 0.5rem 0 0; }
      .modal-c .modal-content .sidebar .character-detail {
        margin: 1rem; }
        .modal-c .modal-content .sidebar .character-detail .full-portrait-title {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 68% auto;
          border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
          margin-bottom: 1.2em; }
          .modal-c .modal-content .sidebar .character-detail .full-portrait-title > img.character-picture {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2; }
          .modal-c .modal-content .sidebar .character-detail .full-portrait-title > img.banner-picture {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 3;
            height: auto;
            width: 3em;
            justify-self: end;
            transform: translate(-50%, -23%); }
          .modal-c .modal-content .sidebar .character-detail .full-portrait-title > .title-text {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
            font-size: 1.75em;
            font-weight: 500;
            text-align: right; }
        .modal-c .modal-content .sidebar .character-detail .detail-content {
          font-size: 1rem;
          display: grid;
          grid-template-columns: 50% 50%;
          column-gap: 1em;
          row-gap: 1em; }
          .modal-c .modal-content .sidebar .character-detail .detail-content .detail-title {
            display: grid;
            grid-template-columns: 20% auto;
            margin: auto 0;
            line-height: 2em; }
          .modal-c .modal-content .sidebar .character-detail .detail-content .detail-text {
            font-size: 0.75rem;
            margin-top: 0.75em; }
          .modal-c .modal-content .sidebar .character-detail .detail-content .double-description {
            grid-column-start: 1;
            grid-column-end: 3; }
          .modal-c .modal-content .sidebar .character-detail .detail-content .character-description {
            display: flex;
            flex-flow: row;
            min-height: 4em;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: .3rem;
            padding-left: 1em;
            margin-right: 1em; }
            .modal-c .modal-content .sidebar .character-detail .detail-content .character-description > p:first-child {
              font-size: 0.8em;
              border-right: 1px solid lightgray;
              width: 6em;
              margin-right: 1em; }
            .modal-c .modal-content .sidebar .character-detail .detail-content .character-description p {
              margin: auto 0; }
            .modal-c .modal-content .sidebar .character-detail .detail-content .character-description > div.no-data {
              margin: auto;
              width: 100%;
              height: 2em; }
            .modal-c .modal-content .sidebar .character-detail .detail-content .character-description > div:not(.no-data) {
              position: relative;
              width: 100%;
              text-align: center;
              margin: auto 0; }
